.greeting {
    height: 100vh;
    background-color: #be5252;
}
.greetingContainer {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text {
    width: 300px;
    background-color: #a9a9c4;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b21e1e;
}