.skillsBlock {
    min-height: 100vh;
    background-color: #bbe3e8;
}

.skillsContainer {
    flex-direction: column;
    justify-content: space-around;
}

.title {
    background-color: #a9a9c4;
}

.skills {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}