.footer {
    min-height: 80px;
    background-color: #7474f3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}